<div class ="span9">

<h2>Editar <%= current_user.name %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<div class = "row">
  <div class = "span4">
  
    <div class="control-group">
      <%= f.label 'Primeiro e último nome:' %>
      <%= f.text_field :name %> 
    </div>

    <% if current_user.role == "administrador" %>
      <div class="control-group">
        <%= f.label 'Fábrica:' %>
        <%= collection_select(:user, :plant_id, Plant.all, :id, :name, {:prompt => 'Selecione Fábrica'}) %></div>
      <div class="control-group">
        <%= f.label 'Permissões:' %>
        <%= f.collection_select :role, User::ROLES, :to_s, :to_s %></div>
    <% elsif current_user.role =="gestor" %>
        <%= f.hidden_field :plant_id, :value => current_user.plant_id %>
        <%= f.label 'Permissões:' %>
        <%= f.select :role, options_for_select([['gestor','gestor'],['utilizador','utilizador']]) %>
    <% end %>

  </div>
  
  <div class = "span4"> 
  
    <div class="control-group"> 
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %></div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="control-group">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  
  </div>
  
</div>

<hr>
<div class="row">
  <div class = "span4">
    <div class="control-group"><%= f.label :password %>
      <p><i>Deixar em branco se não pretende alterar a password</i></p>
      <%= f.password_field :password, autocomplete: "off" %></div>
  
    <div class="control-group"><%= f.label 'Repetir nova password' %>
      <p><i>Apenas se pretender alterar a password</i></p>
      <%= f.password_field :password_confirmation, autocomplete: "off" %></div>  
  </div>
  <div class = "span4"> 
    <div class="control-group"><%= f.label 'Password actual' %>
    <p><i>É necessário a password actual se a deseja alterar</i></p>
      <%= f.password_field :current_password, autocomplete: "off" %></div>
  </div>
</div>

<div><%= f.submit "Salvar", :class => 'btn btn-primary'%> | <%= link_to "Voltar", :back, :class => 'btn btn-default' %></div>
<% end %>

<h3>Cancelar usuário</h3>

<%= button_to "Eliminar usuário", registration_path(resource_name), data: { confirm: "Tem a certeza?" }, method: :delete %>


</div>