<%= form_for @equipment, :html => { :class => 'form-horizontal'} do |f| %>
  <% if @equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
      <% @equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "row">
    <div class = "span4">
      <div class="control-group">
        <%= f.label 'Nº Equipmento:' %>
        <%= f.number_field :num_id %>
      </div>
    </div>
    <div class = "span4"> 
      <div class="control-group">
        <%= f.label 'Nome:' %>
        <%= f.text_field :name %>
      </div>
    </div><!-- span6 -->
  </div><!-- row -->
  
  <div class = "row">
    <div class = "span4">
      <div class="control-group">
        <%= f.label 'Marca:' %>
        <%= f.text_field :manufacturer %>
      </div>
      <div class="control-group">
        <%= f.label 'Modelo' %>
        <%= f.text_field :model %>
      </div>
      <div class="control-group">
        <%= f.label 'Número de série' %>
        <%= f.text_field :serial %>
      </div>
      <div class="control-group">
        <%= f.label 'Observações:' %>
        <%= f.text_area :obs %>
      </div>
    
    </div><!-- span4 -->
    <div class="span4">
      <div class="control-group">
        <%= f.label 'Função:' %>
        <%= f.text_field :function %>
      </div>
      <div class="control-group">
        <%= f.label 'Localização:' %>
        <%= f.text_field :location %>
      </div>
      <div class="control-group">
        <%= f.label 'Contacto de manutenção:' %>
        <%= f.text_field :maintenance_contact %>
      </div>
      <div class="control-group">
        <%= f.label 'Data de fabrico:' %>
        <%= f.date_field :manuf_date %>
      </div>
      <div class="control-group">
        <%= f.label 'Data de compra:' %>
        <%= f.date_field :buy_date %>
      </div>
    </div><!-- span4 -->
  </div><!-- row -->

  <div class="actions">
    <%= f.submit "Salvar", :class => 'btn btn-primary' %>
  </div>
  
<% end %>
