<%= form_for(@equipment) do |f| %>
  <% if @equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
      <% @equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Número de Equipmento:' %><br>
    <%= f.number_field :num_id %>
  </div>
  <div class="field">
    <%= f.label 'Nome:' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Marca:' %><br>
    <%= f.text_field :manufacturer %>
  </div>
  <div class="field">
    <%= f.label 'Modelo' %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label 'Número de série' %><br>
    <%= f.text_field :serial %>
  </div>
  <div class="field">
    <%= f.label 'Assignado a:' %><br>
    <%= f.text_field :assigned_to %>
  </div>
  <div class="field">
    <%= f.label 'Localização:' %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label 'Função:' %><br>
    <%= f.text_field :function %>
  </div>
  <div class="field">
    <%= f.label 'Data de fabrico:' %><br>
    <%= f.date_select :manuf_date %>
  </div>
  <div class="field">
    <%= f.label 'Data de compra:' %><br>
    <%= f.date_select :buy_date %>
  </div>
  <div class="field">
    <%= f.label 'Observações:' %><br>
    <%= f.text_area :obs %>
  </div>
  <div class="field">
    <%= f.label 'Periodo de manutenção:' %><br>
    <%= f.number_field :maintenance_period %>
  </div>
  <div class="field">
    <%= f.label 'Contacto de manutenção:' %><br>
    <%= f.text_field :maintenance_contact %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
