<%= form_for @equipment, :html => { :class => 'form-horizontal'} do |f| %>
  <% if @equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
      <% @equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "row">
    <div class="form-group">
      <%= f.label 'Nº Equipmento:', :class => 'col-md-2 control-label' %>
      <div class="col-md-2">
        <%= f.number_field :num_id, :class => 'form-control' %>
      </div>
      <%= f.label 'Nome:', :class => 'col-md-2 control-label' %>
      <div class="col-md-6">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
    </div>
    
  </div><!-- row -->
  
  <hr>
  
  <div class = "row">
    <div class="form-group">
      <%= f.label 'Marca:', :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :manufacturer, :class => 'form-control' %>
      </div>

      <%= f.label 'Modelo:', :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :model, :class => 'form-control' %>
      </div>
    </div><!-- form-group -->
  </div><!-- row -->
  <div class = "row">
    <div class="form-group">  
      <%= f.label 'N. Série:', :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :serial, :class => 'form-control' %>
      </div>
      <%= f.label 'Função:', :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :function, :class => 'form-control' %>
      </div>
    </div><!-- form-group -->
  </div><!-- row -->
  <div class = "row">
    <div class="form-group">
      <%= f.label 'Localização:', :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :location, :class => 'form-control' %>
      </div>

      <%= f.label 'Data de fabrico:', :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :manuf_date, :class => 'form-control' %>
      </div>    
    </div><!-- form-group -->
  </div><!-- row -->
  <div class = "row">
    <div class="form-group">
      <%= f.label 'Contacto de manutenção:', :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :maintenance_contact, :class => 'form-control' %>
      </div>

      <%= f.label 'Data de compra:', :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :buy_date, :class => 'form-control' %>
      </div>
    </div><!-- form-group -->
  </div><!-- row -->
  <div class = "row">
    <div class="form-group">
      <%= f.label 'Observações:', :class => 'col-md-2 control-label' %>
      <div class="col-md-6">
        <%= f.text_area :obs, :class => 'form-control' %>
      </div>
    </div><!-- form-group -->
  </div><!-- row -->      
  <div class="actions">
    <%= f.submit "Salvar", :class => 'btn btn-primary' %> <%= link_to 'Voltar', :back, :class => 'btn btn-default' %>
  </div>
  
<% end %>
