<div class="well sidebar-nav">
    <h3><%= link_to 'Equipamentos', equipment_index_path %></h3>
    <hr>
    <% if params[:action] == 'new' %>
        <p><%= link_to 'Voltar', equipment_index_path, :class => 'btn btn-default' %></p>
      <% else %>
        <p><%= link_to 'Novo Equipamento', new_equipment_path, :class => 'btn btn-primary' %></p>
        <% if params[:id] %>
        <p><%= link_to 'Editar Equipamento', edit_equipment_path(@equipment), :class => 'btn btn-default' %></p>
        <p><%= link_to 'Apagar Equipamento', @equipment, method: :delete, data: { confirm: 'Tem a certeza?' }, :class => 'btn btn-danger' %></p>
        <hr>
        <p><%= link_to 'Nova Tarefa', new_equipment_maintask_path(@equipment), :class => 'btn btn-primary' %></p>
        <p><%= link_to 'Nova intervenção', new_equipment_intervention_path(@equipment), :class => 'btn btn-primary' %></p>
        <% end %>
        <hr>
        <%= link_to 'Plano Manutenção', maintasks_path, :class => 'btn btn-primary' %>
        <hr>
        <% if params[:filter] == true || params[:filter].nil?%>
            <%= link_to 'Tudo', {:filter => false}  %>
        <% else %>
            <%= link_to 'Filtrar', {:filter => nil} %>
        <% end %>
    <% end %>
</div><!--/.well -->