
<div class="col-md-9">

<h2>Lista de equipamentos</h2>

<%= search_form_for @search, :html => { :class => 'well row' , role: 'search' } do |f| %>
  <div class="col-md-3">
    <div class="input-group">
        <%= f.text_field :num_id_eq, :class => 'form-control', :placeholder => 'Nº Equip'%>
      <span class="input-group-btn">
        <%= f.submit "Filtrar", :class => 'btn btn-default' %>
      </span>
    </div><!-- /input-group -->
  </div><!-- /col-md-3 -->
  
  <div class="col-md-6">
    <div class="input-group">
      <%= f.text_field :name_or_manufacturer_or_model_or_serial_or_location_or_function_or_obs_or_maintenance_contact_cont, :class => 'form-control', :placeholder => 'Procurar'%> 
      <span class="input-group-btn">
        <%= f.submit "Buscar", :class => 'btn btn-default' %>
      </span>
    </div><!-- /input-group -->
  </div><!-- /col-md-6 -->

  <div class="col-md-1">
    <div class ="input-group">
      <%= link_to 'Limpar', equipment_index_path, :class => 'btn btn-default' if params[:q]  %>
    </div>
  </div>
<% end %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= sort_link @search, :num_id, "Número" %></th>
        <% if @filter == 'false' %>
        <th><%= sort_link @search, :plant_id, "Fábrica" %></th>
        <% end %>
        <th><%= sort_link @search, :name, "Equipamento" %></th>
        <th><%= sort_link @search, :manufacturer, "Marca" %></th>
        <th><%= sort_link @search, :model, "Modelo" %></th>
        <th>
        <p class ="text-right"><%= link_to '', equipment_index_path(format: "xlsx"), :class => 'glyphicon glyphicon-list-alt' if @filter == 'true' %></p></th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @equipment.each do |equipment| %>
        <tr data-link="<%= equipment_path(equipment) %>">
          <td><p class="text-center"><%= equipment.num_id %></p></td>
          <% if @filter == 'false' %>
          <td><%= equipment.plant.name %></td>
          <% end %>
          <td><%= link_to equipment.name, equipment_path(equipment) %></td>
          <td><%= equipment.manufacturer %></td>
          <td><%= equipment.model %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% if @filter == 'true' %>
  <%= render 'import' if can? :manage, Equipment %>
<% end %>

</div><!--col-md-9 -->

<div class="col-md-3">
  <%= render 'side' %>
</div>
<br>

