
<div class = "span9">

<h2>Lista de equipamentos</h2>

<%= search_form_for @search, :html => { :class => 'well form-inline'} do |f| %>
<div class="form-group">
  <div class ="span3">
    <%= f.text_field :num_id_eq, :class => 'form-control input-small', :placeholder => 'Nº Equip'%>
    <%= f.submit "Filtrar", :class => 'btn btn-default' %>
  </div>
  <div class ="span4">
    <%= f.text_field :name_or_serial_or_location_or_function_or_obs_or_maintenance_contact_cont, :class => 'form-control', :placeholder => 'Procurar'%> 
    <%= f.submit "Buscar", :class => 'btn btn-default' %>    
  </div>
  <div class ="span1">
        <%= link_to 'Limpar', equipment_index_path, :class => 'btn btn-default' if params[:q] %>
  </div>
</div>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sort_link @search, :num_id, "Número" %></th>
      <th><%= sort_link @search, :name, "Equipamento" %></th>
      <th><%= sort_link @search, :manufacturer, "Marca" %></th>
      <th><%= sort_link @search, :model, "Modelo" %></th>
      <th><p class ="text-right"><%= link_to '', equipment_index_path(format: "xls"), :class => 'fa fa-file-excel-o fa' %></p></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><p class="text-center"><%= link_to equipment.num_id, equipment %></p></td>
        <td><%= link_to equipment.name, equipment %></td>
        <td><%= equipment.manufacturer %></td>
        <td><%= equipment.model %></td>
        <td><%= link_to 'Editar', edit_equipment_path(equipment), :class => 'btn btn-default' %></td>
        <!-- <td><%= link_to 'Apagar', equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

  </div><!--/span-->

<div class="span3">
  <%= render 'side' %>
</div>
<br>

