
<div class="row">
  <div class = "span9">

<p id="notice"><%= notice %></p>

<h2><%= @equipment.name %> <small>Equipamento nº<%= @equipment.num_id %></small></h2>

<hr>
<div class="row">
  <div class="span4">
    <p>Marca: <%= @equipment.manufacturer %></p>
    <p>Modelo: <%= @equipment.model %></p>
    <p>Número de série: <%= @equipment.serial %></p>
    <p>Data fabrico: <%= @equipment.manuf_date %></p>
    <p>Data compra: <%= @equipment.buy_date %></p>    

  </div>
  
  <div class="span4">
    <p>Função: <%= @equipment.function %></p>
    <p>Assignado a: <%= @equipment.assigned_to %></p>
    <p>Localização: <%= @equipment.location %></p>
    <p>Período de manutenção: <%= @equipment.maintenance_period %></p>
    <p>Observações: <%= @equipment.obs %></p>
  </div>
</div>
  
  <p>Contacto de manutenção: <%= @equipment.maintenance_contact %></p>
  <% if @intercept %>
  <p>Horas actuais estimadas: <%= @intercept.round(0) %></p>
  <% end %>

<% if @maintasks.count > 0 %>
<hr>
<h3>Plano de manutenção <small>Equipamento nº<%= @equipment.num_id %></small></h3>

<table class="table table-hover">
  <tr>
    <th>Tarefa</th>
    <th>Periodicidade</th>
  </tr>
  <% @maintasks.each do |maintask| %>
    <tr>
      <td><%= link_to maintask.task, equipment_maintask_path(@equipment, maintask) %></td>
      <td><p> Cada <%= maintask.period %> <%= maintask.unit %></p></td>
      <td><%= link_to 'Editar', edit_equipment_maintask_path(@equipment, maintask), :class => 'btn btn-default' %></td>
    </tr>
  <% end %>
</table>
<% end %>

<% if @interventions.count > 0 %>
<hr>
<h3>Lista de Intervenções <small>Equipamento nº<%= @equipment.num_id %></small></h3>

<table class="table table-hover">
  <tr>
    <th><%= sort_link @search, :day, 'Data Intervenção' %></th>
    <th>Descrição</th>
  </tr>
  <% @interventions.each do |intervention| %>
    <tr>
    <td><%= link_to intervention.day, equipment_intervention_path(@equipment, intervention) %></td>
    <td><%= link_to intervention.description, equipment_intervention_path(@equipment, intervention) %></td>
    <td><%= link_to 'Editar', edit_equipment_intervention_path(@equipment, intervention), :class => 'btn btn-default' %></td>
    </tr>
  <% end %>
</table>
<% end %>

</div><!-- span9 -->

  <div class="span3">
    <div class="well sidebar-nav">
        <h3><%= link_to 'Equipamentos', equipment_index_path %></h3>
        <i class="icon-chevron-left"> </i><%= link_to 'Anterior', @equipment.previous %> | 
        <%= link_to 'Seguinte ', @equipment.next %><i class="icon-chevron-right"> </i>
        <hr>
        <p><%= link_to 'Editar Equipamento', edit_equipment_path(@equipment), :class => 'btn btn-default' %></p>
        <p>  <%= link_to 'Apagar Equipamento', @equipment, method: :delete, data: { confirm: 'Tem a certeza?' }, :class => 'btn btn-danger' %></p>
        <p><%= link_to 'Nova intervenção', new_equipment_intervention_path(@equipment), :class => 'btn btn-primary' %></p>
        <hr>
          

    </div><!--/.well -->
  </div><!--/span-->

</div><!-- row -->