<p id="notice"><%= notice %></p>

<p>
  <strong>Número:</strong>
  <%= @equipment.num_id %>
</p>

<p>
  <strong>Equipamento:</strong>
  <%= @equipment.name %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @equipment.manufacturer %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @equipment.model %>
</p>

<p>
  <strong>Número de série:</strong>
  <%= @equipment.serial %>
</p>

<p>
  <strong>Assignado a:</strong>
  <%= @equipment.assigned_to %>
</p>

<p>
  <strong>Localização:</strong>
  <%= @equipment.location %>
</p>

<p>
  <strong>Função:</strong>
  <%= @equipment.function %>
</p>

<p>
  <strong>Data fabrico:</strong>
  <%= @equipment.manuf_date %>
</p>

<p>
  <strong>Data compra:</strong>
  <%= @equipment.buy_date %>
</p>

<p>
  <strong>Observações:</strong>
  <%= @equipment.obs %>
</p>

<p>
  <strong>Período de manutenção:</strong>
  <%= @equipment.maintenance_period %>
</p>

<p>
  <strong>Contacto de manutenção:</strong>
  <%= @equipment.maintenance_contact %>
</p>

<%= link_to 'Editar', edit_equipment_path(@equipment) %> |
<%= link_to 'Voltar', equipment_index_path %>

<hr>

<p>
<%= link_to 'Nova intervenção', new_equipment_intervention_path(@equipment) %>
</p>

<table>
  <tr>
    <th>Data Intervenção</th>
    <th>Descrição</th>
  </tr>
  <% @equipment.interventions.each do |intervention| %>
    <tr>
    <td><%= link_to intervention.day, equipment_intervention_path(@equipment,intervention) %></td>
    <td><%= intervention.description %></td>
    </tr>
  <% end %>
</table>
