<div class = "col-md-9">

<h2><%= @equipment.name %> <small>Equipamento nº<%= @equipment.num_id %><span class="pull-right"><%= render 'arrows' %></span></small></h2>

<hr>
<div class="row">
  <div class="col-md-6">
    <p>Marca: <%= @equipment.manufacturer %></p>
    <p>Número de série: <%= @equipment.serial %></p>
    <p>Localização: <%= @equipment.location %></p>    
    <p>Contacto de manutenção: <%= @equipment.maintenance_contact %></p>
    <p>Fábrica: <%= @equipment.plant.name if @equipment.plant %></p>  
  </div>
  <div class="col-md-6">
    <p>Modelo: <%= @equipment.model %></p>
    <p>Função: <%= @equipment.function %></p>   
    <p>Data fabrico: <%= @equipment.manuf_date %></p>
    <p>Data compra: <%= @equipment.buy_date %></p>        
  </div>
</div>
<div class="row">
  <div class="col-md-10">

    <p>Observações: <%= @equipment.obs %></p>
    
  </div>
</div>
<hr>
<%= form_tag hour_register_interventions_path(:id => @equipment.id), multipart: true, :class => 'row' do %>
<div class="form-inline">
  <div class="col-md-12">
    <div clas="input-group">
      <% @intercept = 0 unless @intercept.is_a?(Numeric) %>
      <%= label_tag 'Horas actuais estimadas:' %> <%= number_field_tag :hours, @intercept.round(0), :class => 'form-control' %> <%= submit_tag "Registar horas", :class => 'btn btn-default' %>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>
<% end %>


<% if @maintasks.count > 0 %>
<hr>
<h3>Plano de manutenção <small>Equipamento nº<%= @equipment.num_id %></small></h3>

<table class="table table-hover">
  <tr>
    <th>Tarefa</th>
    <th>Periodicidade</th>
    <th></th>
  </tr>
  <% @maintasks.each do |maintask| %>
    <tr>
      <td data-link="<%= equipment_maintask_path(@equipment, maintask) %>"><%= link_to truncate(maintask.task, :length => 100), equipment_maintask_path(@equipment, maintask) %></td>
      <td data-link="<%= equipment_maintask_path(@equipment, maintask) %>"><p> Cada <%= maintask.period %> <%= maintask.unit %></p></td>
      <td data-link="<%= equipment_maintask_path(@equipment, maintask) %>"><% if @delayed_maintasks.include? maintask.id %>
      <span class = "label label-warning">Em falta</span>
      <% end %></td>
      <td><%= link_to 'Registar', new_equipment_intervention_path(@equipment.id, :maintask_id => maintask.id), :class => 'btn btn-default' %></td>
    </tr>
  <% end %>
</table>
<% end %>

<% if @interventions.count > 0 %>
<hr>
<h3>Lista de Intervenções <small>Equipamento nº<%= @equipment.num_id %></small></h3>

<table class="table table-hover">
  <tr>
    <th><%= sort_link @search, :day, 'Data Intervenção' %></th>
    <th>Descrição</th>
    <th>Horas</th>
  </tr>
  <% @interventions.each do |intervention| %>
    <tr data-link="<%= equipment_intervention_path(@equipment, intervention) %>">
      <td><%= link_to intervention.day, equipment_intervention_path(@equipment, intervention) %></td>
      <td><%= truncate(intervention.description, :length => 100) %></td>
      <td><%= intervention.eq_hours %></td>
    </tr>
  <% end %>
</table>
<% end %>

</div><!-- col-md-9 -->

<div class="col-md-3">
  <%= render 'side' %>
</div>


