<%= form_for @plant, :html => { :class => 'form-horizontal'} do |f| %>
  <% if @plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
      <% @plant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "row">
    <div class="form-group">
      <%= f.label 'Nome: ', :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
    </div><!-- form-group -->
  </div><!-- row -->
  <div class = "row">
    <div class="form-group">
      <%= f.label 'Endereço:', :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_area :address, :class => 'form-control' %>
      </div>
    </div><!-- form-group -->
  </div><!-- row -->
  <div class = "row">
    <div class="form-group">
      <div class="actions col-md-offset-2">
        <%= f.submit 'Salvar', :class => 'btn btn-primary' %> <%= link_to 'Voltar', :back, :class => 'btn btn-default' %>
      </div>
    </div><!-- form-group -->
  </div><!-- row -->
<% end %>
