<%= form_for @maintask, :html => { :class => 'form-horizontal'} do |f| %>
  <% if @maintask.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maintask.errors.count, "error") %> prohibited this maintask from being saved:</h2>

      <ul>
      <% @maintask.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="span6 col-md-offset-1">
    <div class="control-group">
      <%= f.label 'Equipamento:' %>
      <%= collection_select(:maintask, :equipment_id, Equipment.all, :id, :name, {:selected => @equipment.id}) %>
    </div>
    <div class="control-group">
      <%= f.label 'Tarefa:' %>
      <%= f.text_area :task %>
    </div>      
    <div class="control-group">
      <%= f.label 'Peças a mudar:' %>
      <%= f.text_area :parts %>
    </div> 
    <div class="control-group">
      <div class="row">
        <div class="span3">
        <p> Periodicidade: </p>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <p>A cada: <%= f.number_field :period, :class => 'input-small' %> <%= f.select(:unit, options_for_select(['Horas', 'Meses', 'Dias'], @maintask.unit), :class => 'input-small') %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <%= f.label 'Observações:' %>
        <%= f.text_area :obs %>
      </div>
    </div>
  <p></p>
    <div class="actions">
      <%= f.submit "Salvar", :class => 'btn btn-primary' %> 
    </div>
  </div>
<% end %>
