<div class="well sidebar-nav">
  <h3><%= link_to 'Manutenções', equipment_path(params[:equipment_id]), :title => 'Voltar' %></h3>
  <hr>
  <% if params[:action] == 'new' %>
    <p><%= link_to 'Voltar', equipment_path(@equipment), :class => 'btn btn-default' %></p>
  <% else %>
  <p><%= link_to 'Editar Tarefa', edit_equipment_maintask_path(@maintask.equipment_id, @maintask), :class => 'btn btn-default' %></p>
  <p><%= link_to 'Nova Tarefa', new_equipment_maintask_path(@maintask.equipment_id), :class => 'btn btn-primary' %></p>
  <p><%= link_to 'Apagar Tarefa', @maintask, method: :delete, data: { confirm: 'Tem a certeza?' }, :class => 'btn btn-danger' %></p>
  <hr>
  <p><%= link_to 'Registar como Intervenção', new_equipment_intervention_path(params[:equipment_id], 
    :period => @maintask.period, 
    :unit => @maintask.unit, 
    :parts => @maintask.parts), 
    :class => 'btn btn-default' %><p>
  <hr>
  <% end %>
</div>