<div class = "col-sm-9">

<h2>Plano de Manutenção</h2>

<%= search_form_for @search, :html => { :class => 'well row'} do |f| %>
  <div class="col-sm-3">
    <div class ="input-group">
      <%= f.text_field :equipment_num_id_eq, :class => 'form-control', :placeholder => 'Nº Equip'%>
      <span class="input-group-btn">
        <%= f.submit "Filtrar", :class => 'btn btn-default' %>
      </span>
    </div><!-- /input-group -->
  </div><!-- /col-sm-3 -->
  <div class="col-sm-6">
    <div class="input-group">
      <%= f.text_field :task_or_period_or_equipment_name_cont, :class => 'form-control', :placeholder => 'Procurar'%> 
      <span class="input-group-btn">
        <%= f.submit "Buscar", :class => 'btn btn-default' %>
      </span>
    </div><!-- /input-group -->
  </div><!-- /col-sm-6 -->
  
  <div class="col-sm-1">
    <div class ="input-group">
      <%= link_to 'Limpar', maintasks_path, :class => 'btn btn-default' if params[:q] %>
    </div>
  </div>
<% end %>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Equipamento</th>
      <th>Tarefas</th>
      <th>Periodicidade</th>
      <th><p class ="text-right"><%= link_to '', maintasks_path(format: "xlsx"), :class => 'glyphicon glyphicon-list-alt' %></p></th>
    </tr>
  </thead>

  <tbody>
    <% @equip_with_maintasks.each do |equip| %>
      <tr>
        <% name = equip.name + " Eq. " + equip.num_id.to_s %>
        <td rowspan = "<%= @maintasks.select{ |hash| hash[:equipment_id] == equip.id}.count + 1 %>"><%= link_to name, equipment_path(equip) %></td>
        <% @maintasks.select{ |hash| hash[:equipment_id] == equip.id}.each do |eqtask| %>
          <tr>
            <td><%= link_to eqtask.task, equipment_maintask_path(equip, eqtask) %></td>
            <td><p>A cada <%= eqtask.period %> <%= eqtask.unit %></p></td>
          </tr>
        <% end %>
      </tr>
    <% end %>

  </tbody>
</table>

</div><!--/col-sm-9-->

<div class="col-sm-3">
  <%= render 'side' %>
</div><!--/col-sm-3-->