<div class = "span9">
  
<h2> Tarefa de Manutenção <small>Equipamento nº <%= Equipment.find(@maintask.equipment_id).num_id %><span class="pull-right"><%= render 'arrows' %></small></h2>

<hr>

<div class="row">
  <div class="span6">
    <p><strong>Tarefa: </strong><%= @maintask.task %></p>
    <p><strong>Peças a mudar: </strong><%= @maintask.parts %></p>
    <p><strong>Periodicidade: </strong> A cada <%= @maintask.period %> <%= @maintask.unit %></p>
    <p><strong>Observações: </strong><%= @maintask.obs %></p>
  </div>
</div>

</div><!-- span9 -->

<div class="span3">
    <%= render 'side' %>
</div><!--/span3-->

