<div class = "col-sm-9">
  
<h2> Tarefa de Manutenção <small>Equipamento nº <%= Equipment.find(@maintask.equipment_id).num_id %><span class="pull-right"><%= render 'arrows' %></small></h2>

<hr>

<div class="row">
  <div class="col-sm-10">
    <p><strong>Tarefa: </strong><%= @maintask.task %></p>
    <p><strong>Peças a mudar: </strong><%= @maintask.parts %></p>
    <p><strong>Periodicidade: </strong> A cada <%= @maintask.period %> <%= @maintask.unit %></p>
    <p><strong>Observações: </strong><%= @maintask.obs %></p>
  </div>
</div>

</div><!--/col-sm-9 -->

<div class="col-sm-3">
    <%= render 'side' %>
</div><!--/col-sm-3-->

