<%= form_for @intervention_type, :html => { :class => 'form-horizontal'} do |f| %>
  <% if @intervention_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@intervention_type.errors.count, "error") %> prohibited this intervention_type from being saved:</h2>

      <ul>
      <% @intervention_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "row top20">
    <div class="form-group">
      <%= f.label 'Nome: ', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-6">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
    </div><!-- form-group -->
  </div><!-- row -->
  <div class = "row">
    <div class="form-group">
      <%= f.label 'Observação: ', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-6">
        <%= f.text_area :obs, :class => 'form-control' %>
      </div>
    </div><!-- form-group -->
  </div><!-- row -->
  <div class = "row top20">
    <div class="form-group">
      <div class="actions col-sm-offset-2">
        <%= f.submit 'Salvar', :class => 'btn btn-primary' %> <%= link_to 'Voltar', :back, :class => 'btn btn-default' %>
      </div>
    </div><!-- form-group -->
  </div><!-- row -->
<% end %>
