<%= form_for [@equipment, @intervention], :html => { :class => 'form-horizontal'} do |f| %>
  <% if @intervention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@intervention.errors.count, "error") %> prohibited this intervention from being saved:</h2>

      <ul>
      <% @intervention.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <hr>

  <div class = "row">
    <div class="form-group">
      <%= f.label 'Data:', :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.date_field :day, :class => 'form-control' %>
      </div>
      <%= f.label 'Número de obra:', :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :task_num, :class => 'form-control' %>
      </div>
    </div><!-- form-group -->
  </div><!-- row -->
  
  <div class = "row">
    <div class="form-group">
      <%= f.label 'Horas do equipamento:', :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.number_field :eq_hours, :class => 'form-control' %>
      </div>
      <%= f.label 'Orçamento:', :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :estimate_num, :class => 'form-control' %>
      </div>
    </div><!-- form-group -->
  </div><!-- row -->
  
  <div class = "row">
    <div class="form-group">
      <%= f.label 'Tipo de intervenção:', :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <% @intervention.intervention_type_id = @intervention_type if @intervention_type %>
        <%= collection_select(:intervention, :intervention_type_id, InterventionType.all, :id, :name, {:selected => @intervention.intervention_type_id}, :class => 'form-control') %>
      </div>
      <%= f.label 'Pedido de compra:', :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :purchase_num, :class => 'form-control' %>
      </div>
    </div><!-- form-group -->
  </div><!-- row -->      

  <div class = "row">
    <div class="form-group">
      <%= f.label 'Peças mudadas:', :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_area :changed_parts, :value => @parts, :class => 'form-control' %>
      </div>
      <%= f.label 'Custo material:', :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :parts_cost, :class => 'form-control' %>
      </div>
    </div><!-- form-group -->
  </div><!-- row -->      

  <div class = "row">
    <div class="form-group">    
      <%= f.label 'Pessoa / empresa:', :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :maintainer, :class => 'form-control' %>
      </div>
      <%= f.label 'Mão-de-obra e deslocações:', :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :labor_cost, :class => 'form-control' %>
      </div>
    </div><!-- form-group -->
  </div><!-- row -->      

  <div class = "row">
    <div class="form-group">   
      <%= f.label 'Descrição:', :class => 'col-md-2 control-label' %>
      <div class="col-md-4">
        <% @intervention.description = @descrip if @descrip %>
        <%= f.text_area :description, :class => 'form-control' %>
      </div>
    </div><!-- form-group -->
  </div><!-- row -->  
  
  <div class="actions">
    <%= f.submit "Salvar", :class => 'btn btn-primary' %> <%= link_to 'Voltar', :back, :class => 'btn btn-default' %>
  </div>
<% end %>
