<%= form_for [@equipment, @intervention], :html => { :class => 'form-horizontal'} do |f| %>
  <% if @intervention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@intervention.errors.count, "error") %> prohibited this intervention from being saved:</h2>

      <ul>
      <% @intervention.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <hr>

  <div class = "row">
    <div class = "span4">
      <div class="control-group">
        <%= f.label 'Data:' %>
        <%= f.date_field :day %>
      </div>
    </div>
    <div class="span4">
      <div class="control-group">
        <%= f.label 'Equipamento:' %>
        <%= collection_select(:intervention, :equipment_id, Equipment.all, :id, :name, {:selected => @equipment.id}) %>
      </div>
    </div>
  </div>
  
  <div class = "row">
    <div class = "span4">
      <div class="control-group">
        <%= f.label 'Horas do equipamento:' %>
        <%= f.number_field :eq_hours %>
      </div>
      <div class="control-group">
        <p>Reparação? <%= f.check_box :repair %></p>
      </div>
      <div class="control-group">
        <p>Manutenção preventiva? <%= f.check_box :preventive %></p>
      </div>
      <div class="control-group">
        <%= f.label 'Peças mudadas:' %>
        <%= f.text_area :changed_parts %>
      </div>
      <div class="control-group">
        <%= f.label 'Pessoa / empresa que interviu:' %>
        <%= f.text_field :maintainer %>
      </div>  
    </div>
    
    <div class = "span4">
      <div class="control-group">
        <%= f.label 'Número de obra:' %>
        <%= f.text_field :task_num %>
      </div>
      <div class="control-group">
        <%= f.label 'Número de orçamento:' %>
        <%= f.text_field :estimate_num %>
      </div>
      <div class="control-group">
        <%= f.label 'Número de pedido de compra:' %>
        <%= f.text_field :purchase_num %>
      </div>
      <div class="control-group">
        <%= f.label 'Custo em peças / material:' %>
        <%= f.text_field :parts_cost %>
      </div>
      <div class="control-group">
        <%= f.label 'Custo de mão-de-obra e deslocações:' %>
        <%= f.text_field :labor_cost %>
      </div>
    </div>
  </div><!-- row -->

  <div class="control-group">
    <%= f.label 'Descrição:' %>
    <%= f.text_area :description, :value => @descrip %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar", :class => 'btn btn-primary' %>
  </div>
<% end %>
