<div class="row">
  <div class = "span9">

<h1>Editar intervenção</h1>

<p id="notice"><%= notice %></p>

<%= render 'form' %>

</div>
  <div class="span3">
    <div class="well sidebar-nav">
        <h3>Intervenções</h3>
        <hr>
        <p><%= link_to 'Voltar', equipment_intervention_path(@intervention.equipment_id, @intervention), :class => 'btn btn-default' %></p>
        <p><%= link_to 'Nova intervenção', new_equipment_intervention_path(@equipment), :class => 'btn btn-primary' %></p>
        <p>  <%= link_to 'Apagar Intervenção', @intervention, method: :delete, data: { confirm: 'Tem a certeza?' }, :class => 'btn btn-danger' %></p>
        <hr>
    </div><!--/.well -->
  </div><!--/span-->
</div><!-- row -->


