<div class="col-md-9">

<h2>Lista de intervenções</h2>

  <%= search_form_for @search, :html => { :class => 'well row' , role: 'search' } do |f| %>
  <div class="col-md-3">
    <div class="input-group">
        <%= f.text_field :equipment_id_eq, :class => 'form-control', :placeholder => 'Nº Equip'%>
      <span class="input-group-btn">
        <%= f.submit "Filtrar", :class => 'btn btn-default' %>
      </span>
    </div><!-- /input-group -->
  </div><!-- /col-md-3 -->
  <div class="col-md-6">
    <div class="input-group">
      <%= f.text_field :description_cont, :class => 'form-control', :placeholder => 'Procurar'%> 
      <span class="input-group-btn">
        <%= f.submit "Buscar", :class => 'btn btn-default' %>
      </span>
    </div><!-- /input-group -->
  </div><!-- /col-md-6 -->
  <div class="col-md-1">
    <div class ="input-group">
      <%= link_to 'Limpar', interventions_path, :class => 'btn btn-default' if params[:q]  %>
    </div>
  </div>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Equipamento</th>
      <th>Dia</th>
      <th>Horas</th>
      <th>Descrição</th>
      <th>
      <p class ="text-right"><%= link_to '', interventions_path(format: "xlsx"), :class => 'glyphicon glyphicon-list-alt' %></p></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @equipments_with_interventions.each do |equip| %>
      <tr>
        <% name = equip.name + " Eq. " + equip.num_id.to_s %>
        <td rowspan = "<%= @interventions.select{ |hash| hash[:equipment_id] == equip.id}.count + 1 %>"><%= link_to name, equipment_path(equip) %></td>
          <% @interventions.select{ |hash| hash[:equipment_id] == equip.id}.each do |intervention| %>
            <tr data-link="<%= equipment_intervention_path(equip, intervention) %>">
              <td><%= intervention.day %></td>
              <td><%= intervention.eq_hours %></td>
              <td><%= truncate(intervention.description, :length => 100) %></td>
            </tr>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

</div><!--col-md-9 -->

<div class="col-md-3">
  <%= render 'side' %>
</div>
<br>

