<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @intervention.day %>
</p>

<!-- <p> -->
<!--   <strong>Equipment:</strong> -->
<!--   <%= @intervention.equipment_id %> -->
<!-- </p> -->

<p>
  <strong>Horas equipamento:</strong>
  <%= @intervention.eq_hours %>
</p>

<p>
  <strong>Reparação:</strong>
  <%= @intervention.repair %>
</p>

<p>
  <strong>Manutenção preventiva:</strong>
  <%= @intervention.preventive %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @intervention.description %>
</p>

<p>
  <strong>Peças mudadas:</strong>
  <%= @intervention.changed_parts %>
</p>

<p>
  <strong>Pessoa / empresa que interviu:</strong>
  <%= @intervention.maintainer %>
</p>

<p>
  <strong>Número de tarefa / obra:</strong>
  <%= @intervention.task_num %>
</p>

<p>
  <strong>Número de orçamento:</strong>
  <%= @intervention.estimate_num %>
</p>

<p>
  <strong>Número de compra:</strong>
  <%= @intervention.purchase_num %>
</p>

<p>
  <strong>Custo de peças / material:</strong>
  <%= @intervention.parts_cost %>
</p>

<p>
  <strong>Custo de mão-de-obra e deslocações:</strong>
  <%= @intervention.labor_cost %>
</p>

<%= link_to 'Editar', edit_equipment_intervention_path(params[:equipment_id], @intervention) %> |
<%= link_to 'Voltar', equipment_path(params[:equipment_id]) %>
