<div class = "span9">

<h2> Intervenção do Equipamento nº <%= Equipment.find(@intervention.equipment_id).num_id %><small><span class="pull-right"><%= render 'arrows' %></span></small></h2>

<hr>

<div class="row">
  <div class="span4">
    <p>Data: <%= @intervention.day %></p>
    <p>Horas equipamento: <%= @intervention.eq_hours %></p>
    <p>Tipo de intervenção: </p>
    <p>Peças mudadas: <%= @intervention.changed_parts %></p>
    <p>Pessoa / empresa que interviu: <%= @intervention.maintainer %></p>
    <p>Descrição: <%= @intervention.description %></p>
  </div>
  <div class="span4">
    <p>Número obra: <%= @intervention.task_num %></p>
    <p>Número de orçamento: <%= @intervention.estimate_num %></p>
    <p>Número de compra: <%= @intervention.purchase_num %></p>
    <p>Custo de peças / material: <%= @intervention.parts_cost %></p>
    <p>Custo de mão-de-obra e deslocações: <%= @intervention.labor_cost %></p>
    <p>Cutos total: <%= @intervention.parts_cost + @intervention.labor_cost if @intervention.parts_cost || @intervention.labor_cost %></p>
  </div>
</div>

</div><!-- span9 -->

<div class="span3">
  <%= render 'side' %>

</div><!--/span3-->

